@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Permanent+Marker&family=Playfair+Display:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media (min-width: 1025px) and (max-width: 1440px) {
body {
    width: 100%;
    height: auto;
    background-color: #d7f8fa;
}

header {
    width: 100%;
    height: 150px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}

.logo {
    width: 230px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap; 
}

nav ul li a {
    font-size: 20px;
    font-family: "Lobster", sans-serif;
    text-decoration: none;
    color: #00294d;
    padding: 6px 14px;
    border-radius: 10px;
}

nav ul li a:hover {
    color: #00a5d8;
}


.imagen {
    width: 100%;
    height: 600px;
    background-image: url(../Img/fondo2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titu {
    width: 70%;
    max-width: 700px;
    text-align: center;
    background: #ffffff2b;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 10px #00000040;
}

.bien {
    font-size: 48px;
    font-family: "Lobster", cursive;
    color: #0070c9;
}

.parrafo {
    font-size: 22px;
    font-family: "Playfair Display", serif;
    text-align: justify;
    margin-top: 15px;
}

.cajon1 {
    width: 100%;
    background-color: #56aeff;
    padding: 60px 40px;
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap; 
}

.caja2 {
    width: 330px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 10px 25px #0044aa67;
    padding: 15px;
    transition: 0.3s;
}

.caja2:hover {
    transform: translateY(-8px);
}

.img4 {
    width: 100%;
    height: 190px;
    border-radius: 10px;
    object-fit: cover;
}

.titul {
    font-size: 26px;
    font-family: "Lobster", sans-serif;
    color: #0047ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 18px;
    font-family: "Playfair Display";
    text-align: justify;
}

.cajon3 {
    width: 100%; 
    height: auto; 
    background-color: #56aeff;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
    align-items: center; 
    padding: 60px; 
} 

.texto1 { 
    width: 50%; 
    height: auto;
    background-color: #ffffff; 
    border-radius: 10px; 
    padding: 50px; 
} 

.titulo1 { 
    font-family: "Lobster", sans-serif;
    font-size: 36px; 
    color: #0419ff; 
    text-align: center; 
    margin-bottom: 15px; 
} 

.parrafo1 {
    font-family: "Playfair Display"; 
    font-size: 20px; 
    color: #000000; 
    text-align: justify; 
} 

.img {
    width: 330px; 
    height: 330px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
} 

.img1 { 
    width: 340px; 
    height: 340px;
    border: 6px solid #009dff;
    object-fit: cover;
    border-radius: 100%;
}

.cajon2 {
    width: 100%;
    background-color:  #ffffff;
    padding: 90px 40px;
    text-align: center;
}

.titulo2 {
    font-family: "Lobster", sans-serif;
    font-size: 46px;
    color: #000000;
    margin-bottom: 60px;
    text-shadow: 0px 3px 6px #00000030;
}

.cajas {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
}

.caja1 {
    width: 300px;
    height: auto;
    transition: 0.03s;
}

.caja1:hover {
   transform: translateY(-8px);
}

.img3 {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    border: 6px solid #009dff;
    transition: 0.3s;
}

.titulo3 {
    font-family: "Lobster", sans-serif;
    font-size: 28px;
    margin-top: 15px;
    color: #003cff;
    text-shadow: 0px 2px 5px #00000020;
}

#parrafo2 {
    font-family: "Playfair Display";
    font-size: 19px;
    margin-top: 10px;
    text-align: justify;
    color: #222;
}

.boton1 {
    margin-top: 50px;
    width: 200px;
    height: 60px;
    border: none;
    background: linear-gradient(135deg, #009dff, #0051ff);
    border-radius: 15px;
    box-shadow: 0px 6px 20px #00000060;
    cursor: pointer;
    transition: 0.3s;
}

.boton1:hover {
    transform: translateY(-6px);
    box-shadow: 0px 10px 30px #00000050;
}

.boton1 a {
    color: white;
    font-size: 22px;
    text-decoration: none;
    font-family: "Lobster";
}

.cajon5 {
    width: 100%;
    height: auto;
    background: rgb(255, 255, 255);
    padding: 60px 40px;
    display: flex;
    flex-wrap: wrap; 
    gap: 40px;
    justify-content: center;
}

.encabezado {
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}

.doctores {
    font-family: "Lobster";
    font-size: 40px;
    color: #003cff;
}

.descripcion{
    font-family: "Playfair Display";
    font-size: 20px;
    margin-top: 10px;
    color: #000000;
}

.caja5 {
    width: 260px;
    height: 360px;
    background: #56AEFF;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 20px #0c01ac5a;
    transition: 0.3s;
}

.caja5:hover {
    transform: translateY(-8px);
}

.img7 {
    width: 225px;
    height: 210px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.titu1 {
    font-family: "Lobster";
    font-size: 26px;
    color: #000000;
    text-align: center;
    margin: 10px 10px;
}

.tex {
    font-family: "Playfair Display";
    font-size: 18px;
    text-align: justify;
    color: #000000;
}

.cajon4 {
    width: 100%;
    height: 460px;  
    background-color: #56aeff;
    padding: 60px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    gap: 50px;
    align-items: center;  
}

.texto5 {
    width: 500px;
    height: auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px #00000030;
}

.titulo5 {
    font-family: "Lobster", sans-serif;
    font-size: 36px;
    text-align: center;
    color: #0047ff;
}

.parrafo5 {
    margin-top: 15px;
    font-family: "Playfair Display";
    font-size: 20px;
    text-align: justify;
}

.img6 {
    width: 400px;
    height: auto;
    object-fit: cover;
}

.footer {
    width: 100%;
    height: auto;
    background: #ffffff;
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.logo1 {
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    width: 250px;
    height: 200px;
    object-fit: cover;
}

.caja3{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 180px;         
}

.titulo6 {
    font-size: 20px;
    font-family: "Lobster", sans-serif;
    color: #0047ff;
    margin-bottom: 5px;
}

.nombres {
    display: block;
    color: #000;
    font-family: "Playfair Display";
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s;
}

.nombres:hover {
    color: #007bff;
}

.redes-social {
    display: flex;
    gap: 15px;
    font-size: 30px;
}

.redes-social a {
    color: #000;
    transition: 0.3s;
}

.redes-social a:hover {
    color: #007bff;
}
}
@media (min-width: 600px) and (max-width: 1000px) {
   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: auto;
    background-color: #d7f8fa;
}

header {
    width: 100%;
    height: 150px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}

.logo {
    width: 230px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap; 
}

nav ul li a {
    font-size: 20px;
    font-family: "Lobster", sans-serif;
    text-decoration: none;
    color: #00294d;
    padding: 6px 14px;
    border-radius: 10px;
}

nav ul li a:hover {
    color: #00a5d8;
}

.imagen {
    width: 100%;
    height: 600px;
    background-image: url(../Img/fondo2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titu {
    width: 70%;
    max-width: 700px;
    text-align: center;
    background: #ffffff2b;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 10px #00000040;
}

.bien {
    font-size: 48px;
    font-family: "Lobster", cursive;
    color: #0070c9;
}

.parrafo {
    font-size: 22px;
    font-family: "Playfair Display", serif;
    text-align: justify;
    margin-top: 15px;
}

.cajon1 {
    width: 100%;
    background-color: #56aeff;
    padding: 60px 40px;
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap; 
}

.caja2 {
    width: 330px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 10px 25px #0044aa67;
    padding: 15px;
    transition: 0.3s;
}

.caja2:hover {
    transform: translateY(-8px);
}

.img4 {
    width: 100%;
    height: 190px;
    border-radius: 10px;
    object-fit: cover;
}

.titul {
    font-size: 26px;
    font-family: "Lobster", sans-serif;
    color: #0047ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 18px;
    font-family: "Playfair Display";
    text-align: justify;
}

.cajon3 {
    width: 100%; 
    height: auto; 
    background-color: #56aeff;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: center; 
    padding: 60px; 
} 

.texto1 { 
    width: 50%; 
    height: auto;
    background-color: #ffffff; 
    border-radius: 10px; 
    padding: 50px; 
} 

.titulo1 { 
    font-family: "Lobster", sans-serif;
    font-size: 36px; 
    color: #0419ff; 
    text-align: center; 
    margin-bottom: 15px; 
} 

.parrafo1 {
    font-family: "Playfair Display"; 
    font-size: 20px; 
    color: #000000; 
    text-align: justify; 
} 

.img {
    width: 330px; 
    height: 330px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
} 

.img1 { 
    width: 340px; 
    height: 340px;
    border: 6px solid #009dff;
    object-fit: cover;
    border-radius: 100%;
}

.cajon2 {
    width: 100%;
    background-color:  #ffffff;
    padding: 90px 40px;
    text-align: center;
}

.titulo2 {
    font-family: "Lobster", sans-serif;
    font-size: 46px;
    color: #000000;
    margin-bottom: 60px;
    text-shadow: 0px 3px 6px #00000030;
}

.cajas {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
}

.caja1 {
    width: 300px;
    height: auto;
    transition: 0.03s;
}

.caja1:hover {
   transform: translateY(-8px);
}

.img3 {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    border: 6px solid #009dff;
    transition: 0.3s;
}

.titulo3 {
    font-family: "Lobster", sans-serif;
    font-size: 28px;
    margin-top: 15px;
    color: #003cff;
    text-shadow: 0px 2px 5px #00000020;
}

#parrafo2 {
    font-family: "Playfair Display";
    font-size: 19px;
    margin-top: 10px;
    text-align: justify;
    color: #222;
}

.boton1 {
    margin-top: 50px;
    width: 200px;
    height: 60px;
    border: none;
    background: linear-gradient(135deg, #009dff, #0051ff);
    border-radius: 15px;
    box-shadow: 0px 6px 20px #00000060;
    cursor: pointer;
    transition: 0.3s;
}

.boton1:hover {
    transform: translateY(-6px);
    box-shadow: 0px 10px 30px #00000050;
}

.boton1 a {
    color: white;
    font-size: 22px;
    text-decoration: none;
    font-family: "Lobster";
}

.cajon5 {
    background: white;
    padding: 60px 40px;
    display: flex;
    flex-wrap: wrap; 
    gap: 40px;
    justify-content: center;
}

.encabezado {
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}

.doctores {
    font-family: "Lobster";
    font-size: 40px;
    color: #003cff;
}

.descripcion{
    font-family: "Playfair Display";
    font-size: 20px;
    margin-top: 10px;
    color: #000000;
}

.caja5 {
    width: 280px;
    height: 370px;
    background: #56AEFF;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 20px #0c01ac5a;
    transition: 0.3s;
}

.caja5:hover {
    transform: translateY(-8px);
}

.img7 {
    width: 240px;
    height: 220px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.titu1 {
    font-family: "Lobster";
    font-size: 26px;
    color: #000000;
    text-align: center;
    margin: 10px 10px;
}

.tex {
    font-family: "Playfair Display";
    font-size: 18px;
    text-align: justify;
    color: #000000;
}

.cajon4 {
    width: 100%;
    height: 791px;  
    background-color: #56aeff;
    padding: 60px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    gap: 50px;
    align-items: center;  
}

.texto5 {
    width: 500px;
    height: auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px #00000030;
}

.titulo5 {
    font-family: "Lobster", sans-serif;
    font-size: 36px;
    text-align: center;
    color: #0047ff;
}

.parrafo5 {
    margin-top: 15px;
    font-family: "Playfair Display";
    font-size: 20px;
    text-align: justify;
}

.img6 {
    width: 400px;
    height: 384px;
    object-fit: cover;
}

.footer {
    width: 100%;
    height: auto;
    background: #ffffff;
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 40px;
}

.logo1 {
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    width: 250px;
    height: 200px;
    object-fit: cover;
}

.caja3{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 180px;         
}

.titulo6 {
    font-size: 20px;
    font-family: "Lobster", sans-serif;
    color: #0047ff;
    margin-bottom: 5px;
}

.nombres {
    display: block;
    color: #000;
    font-family: "Playfair Display";
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s;
}

.nombres:hover {
    color: #007bff;
}

.redes-social {
    display: flex;
    gap: 15px;
    font-size: 30px;
}

.redes-social a {
    color: #000;
    transition: 0.3s;
}

.redes-social a:hover {
    color: #007bff;
}
}

@media (min-width: 300px) and (max-width: 550px) {
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
    background-color: #d7f8fa;
}

header {
    width: 100%;
    height: 150px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  20px;
}

.logo {
    width: 150px;
    height: auto;
    object-fit: cover;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap; 
}

nav ul li a {
    font-size: 20px;
    font-family: "Lobster", sans-serif;
    text-decoration: none;
    color: #00294d;
    padding: 6px 14px;
    border-radius: 10px;
}

nav ul li a:hover {
    color: #2b86fd;
}


.imagen {
    width: 100%;
    height: 590px;
    background-image: url(../Img/fondo2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titu {
    width: 70%;
    max-width: 600px;
    text-align: center;
    background: #ffffff2b;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 10px #00000040;
}

.bien {
    font-size: 48px;
    font-family: "Lobster", cursive;
    color: #0070c9;
}

.parrafo {
    font-size: 22px;
    font-family: "Playfair Display", serif;
    text-align: justify;
    margin-top: 15px;
}

.cajon1 {
    width: 100%;
    height: auto;
    background-color: #56aeff;
    padding: 60px 40px;
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap; 
}

.caja2 {
    width: 290px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 10px 25px #0044aa67;
    padding: 15px;
    transition: 0.3s;
}

.caja2:hover {
    transform: translateY(-8px);
}

.img4 {
    width: 260px;
    height: 190px;
    border-radius: 10px;
    object-fit: cover;
}

.titul {
    font-size: 27px;
    font-family: "Lobster", sans-serif;
    color: #0047ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 20px;
    font-family: "Playfair Display";
    text-align: justify;
}

.cajon3 {
    width: 100%; 
    height: auto; 
    background-color: #56aeff;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
    align-items: center; 
    padding: 60px;
} 

.texto1 { 
    width: 250px; 
    height: auto;
    letter-spacing: -1px;
    background-color: #ffffff; 
    border-radius: 10px; 
    padding: 50px; 
} 

.titulo1 { 
    font-family: "Lobster", sans-serif;
    font-size: 36px; 
    color: #0419ff; 
    text-align: center; 
    margin-bottom: 15px; 
} 

.parrafo1 {
    font-family: "Playfair Display"; 
    font-size: 20px; 
    color: #000000; 
    text-align: justify; 
} 

.img {
    width: 300px; 
    height: 300px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    position: relative;
    top: -40px; 
} 

.img1 { 
    width: 300px; 
    height: 300px;
    border: 6px solid #009dff;
    object-fit: cover;
    border-radius: 100%;
}

.cajon2 {
    width: 100%;
    background-color:  #ffffff;
    padding: 90px 40px;
    text-align: center;
}

.titulo2 {
    font-family: "Lobster", sans-serif;
    font-size: 46px;
    color: #000000;
    margin-bottom: 60px;
    text-shadow: 0px 3px 6px #00000030;
}

.cajas {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
}

.caja1 {
    width: 300px;
    height: auto;
    transition: 0.03s;
}

.caja1:hover {
   transform: translateY(-8px);
}

.img3 {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    border: 6px solid #009dff;
    transition: 0.3s;
}

.titulo3 {
    font-family: "Lobster", sans-serif;
    font-size: 28px;
    margin-top: 15px;
    color: #003cff;
    text-shadow: 0px 2px 5px #00000020;
}

#parrafo2 {
    font-family: "Playfair Display";
    font-size: 19px;
    margin-top: 10px;
    text-align: justify;
    color: #222;
}

.boton1 {
    margin-top: 50px;
    width: 200px;
    height: 60px;
    border: none;
    background: linear-gradient(135deg, #009dff, #0051ff);
    border-radius: 15px;
    box-shadow: 0px 6px 20px #00000060;
    cursor: pointer;
    transition: 0.3s;
}

.boton1:hover {
    transform: translateY(-6px);
    box-shadow: 0px 10px 30px #00000050;
}

.boton1 a {
    color: white;
    font-size: 22px;
    text-decoration: none;
    font-family: "Lobster";
}

.cajon5 {
    background: white;
    padding: 60px 40px;
    display: flex;
    flex-wrap: wrap; 
    gap: 40px;
    justify-content: center;
}

.encabezado {
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}

.doctores {
    font-family: "Lobster";
    font-size: 40px;
    color: #003cff;
}

.descripcion{
    font-family: "Playfair Display";
    font-size: 20px;
    margin-top: 10px;
    color: #000000;
}

.caja5 {
    width: 280px;
    height: 370px;
    background: #56AEFF;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 20px #0c01ac5a;
    transition: 0.3s;
}

.caja5:hover {
    transform: translateY(-8px);
}

.img7 {
    width: 240px;
    height: 220px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.titu1 {
    font-family: "Lobster";
    font-size: 26px;
    color: #000000;
    text-align: center;
    margin: 10px 10px;
}

.tex {
    font-family: "Playfair Display";
    font-size: 18px;
    text-align: justify;
    color: #000000;
}

.cajon4 {
    width: 100%;
    height: 964px;  
    background-color:#56AEFF;
    padding: 60px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: flex-start;
}
.texto5 {
    width: 800px;
    height: auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 20px #00000030;
}

.titulo5 {
    font-family: "Lobster", sans-serif;
    font-size: 36px;
    text-align: center;
    color: #0047ff;
}

.parrafo5 {
    font-family: "Playfair Display";
    font-size: 20px;
    text-align: justify;
}
.imag {
    width: 380px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img6 {
    width: 100%;
    height: 380px;
    object-fit: cover;
}

.footer {
    width: 100%;
    height: auto;
    background: #ffffff;
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.logo1 {
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    width: 250px;
    height: 200px;
    object-fit: cover;
}

.caja3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 180px;         
}

.titulo6 {
    font-size: 20px;
    font-family: "Lobster", sans-serif;
    color: #0047ff;
    margin-bottom: 5px;
}

.nombres {
    display: block;
    color: #000;
    font-family: "Playfair Display";
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s;
}

.nombres:hover {
    color: #007bff;
}

.redes-social {
    display: flex;
    gap: 15px;
    font-size: 30px;
}

.redes-social a {
    color: #000;
    transition: 0.3s;
}

.redes-social a:hover {
    color: #007bff;
}

#menu-hamburguesa {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    cursor: pointer;
}


#menu-hamburguesa span {
    display: block;
    height: 4px;
    width: 100%;
    background-color: #00294d;;
    border-radius: 2px;
    transition: 0.3s;
}


nav {
    display: none;
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    background: #ffffff;
    padding: 20px 0;
    box-shadow: 0 4px 10px #00000040;
}

nav ul {
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

nav ul li a{
   color: #003cff;
   font-size: 25px;
}


nav.activo {
    display: flex;
}

}